<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  
	
    <!-- URL Rewrite: proxy hacia Waitress en localhost:8000 -->
    <rewrite>
      <rules>
        <!-- Excluir /static/ asegurarse que esto coincida con el STATIC_ROOT del setting.py en Django configurado en el segundo paso. -->
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^static/(.*)" />
          <action type="None" />
        </rule>
        <rule name="ReverseProxyToDjango" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:8000/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
            <set name="HTTP_X_FORWARDED_PROTO" value="http://{HTTP_HOST}" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>

    <!-- Handlers: evitar que IIS bloquee extensiones "desconocidas" -->
    <handlers>
	    <clear />
	    <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
    </handlers>

    <!-- Opcional: habilitar errores detallados para debug -->
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
    
	
  </system.webServer>
</configuration>